Options +FollowSymlinks

RewriteEngine on
RewriteBase /projet_4/

RewriteRule ^([A-Z][a-z\-]+)$ index.php?action=$1 [L]

RewriteRule ^([A-Z][a-z\-]+)-([0-9]+)$ index.php?action=$1&id=$2 [L]

RewriteRule ^([A-Z][a-z\-]+)/([0-9]+)$ index.php?action=$1&page=$2 [L]

RewriteRule ^([A-Z][a-z\-]+)-([0-9]+)/([0-9]+)$ index.php?action=$1&id=$2&page=$3 [L]

RewriteRule ^([A-Z][a-z\-]+)-([0-9]+)-([A-Za-z]+)/([0-9]+)$ index.php?action=$1&id=$2&page=$4&redirection=$3 [L]

RewriteRule ^[A-Za-z\-\\/0-9]+$ index.php?action=Erreur [L]