html {
    font-size: 10px;
}

body {
    margin: 0px 0px;
    font-family: 'PT Sans', sans-serif;
    background: no-repeat center url(../images/background.jpg) fixed;
    background-size: cover;
    cursor: default;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    height: 290px;
    transition: 0.2s;
}

.site_title {
    text-align: center;
    background: no-repeat center url(../images/billet.png) ;
    background-size: 550px 300px;
    padding: 50px;
    height: 200px;
    width: 450px;
    min-width: 450px;
    font-family: 'Share Tech Mono', 'Terminal', monospace;
    transform: rotate(-10deg);
    z-index: 2;
}

.site_title h1 {
	font-size: 50px;
    margin-top: 10px;
}

.site_title p {
	font-size: 30px;
    margin: 0px;
}

.button, input[type='submit'] {
    text-decoration: none;
    background-color: #9abed9;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    font-size: 2rem;
    outline: none;
    border: none;
}

.button:hover, input[type='submit']:hover {
    background-color: #84a9c4;
}

.button:active, input[type='submit']:active, a.active {
    background-color: #7897ad;
}

a.button {
    display: block;
    cursor: pointer;
}

nav.pages {
    text-align: center;
}

nav.pages a, a.read_more, a.share {
    display: inline-block;
}

a.button:not(:any-link):not(.sublist_menu) {
    background-color: #bababa;
    cursor: default;
}

#head_menu {
    margin-left: 20px;
    position: sticky;
    top: 10px;
    height: 523px;
    transition: 0.2s;
}

#head_menu.connected {
	height: 649px;
}

#display_menu {
	display: none;
}

#head_menu ul {
    padding: 0px;
    margin: 0px;
}

#head_menu li, #head_menu #menu_button {
    list-style: none;
    margin: 0px 0px 5px 0px;
    position: relative;
    width: 250px;
}

#head_menu a {
    text-decoration: none;
    color: white;
    margin: 0px 0px;
}

#head_menu .sublist {
    transition: 0.2s;
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}

#head_menu .sublist:not(.active) {
	height: 0px;
    opacity: 0;
}

#head_menu .sublist ol {
    padding-left: 0px;
}

#head_menu input, #head_menu input.connection {
    display: block;
    width: 198px;
    height: 27px;
    padding: 5px 15px 5px 35px;
    margin: 0px;
    font-size: 2rem;
}

#head_menu input.connection {
    padding: 5px 15px;
    width: 250px;
    height: 37px;
    cursor: pointer;
}

#head_menu i.input {
    transform: translate(8px, 10px)
}

#head_menu .sublist.active {
    opacity: 1;
}

#head_menu .sublist li {
    margin: 0px;
}

#head_menu .sublist a {
    margin: 0px auto;
}

#head_menu a.sublist_menu::after {
	display: block;
    position: absolute;
    top: 7px;
    right: 15px;
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f078';
    transition: 0.2s;
}

#head_menu a.sublist_menu.active::after {
    transform: rotate(180deg);
}

#head_menu .nav_frame {
	background: rgba(255, 255, 255, 0.6);
    border: 4px solid #9abed9;
    padding: 1px 11px;
    height: 186px;
}

#head_menu .nav_frame h1 {
    font-size: 2rem;
    margin: 0px;
    height: 27px;
}

#head_menu .nav_frame p {
    font-size: 1.3rem;
    margin: 5px 0px;
}

#head_menu .nav_frame.author p {
    text-align: justify;
}

#head_menu .nav_frame a {
    color: black;
    text-decoration: underline;
}

#head_menu div.last_comments {
    height: 159px;
    overflow-y: auto;
    overflow-x: hidden;
}

#connection_fail {
    padding: 5px 15px;
    text-align: center;
    font-size: 16px;
    bottom: 0;
    background: #d99a9a;
	color : white;
    margin: 0px;
}

i {
    width: 22px;
    text-align: center;
}

#container {
    display: flex;
    margin: 30px 50px;
    transition: 0.2s;
}

#include {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 20px grey;
    padding: 10px 20px;
    width: 100%;
}

#include h2.page_content {
	font-size: 3rem;
    text-align: center;
}

#include h3.page_content {
	font-size: 2.5rem;
    color: #84a9c4;
    border-top: 1px solid;
    padding: 10px;
}

#include p.page_content {
    font-size: 1.6rem;
}

#include .img_container {
	text-align: center;
}

#include img {
	width: 100%;
    max-width: 600px;
}

#include em {
    font-size: 1.4rem;
}

#include .post_content {
    font-family: 'PT Serif', serif;
    font-size: initial;
}

#include .post_content h1 {
    font-size: 2.8rem;
    margin: 18px 0px;
}

#include .post_content h2 {
    font-size: 2.5rem;
    margin: 18px 0px;
}

#include .post_content h3 {
    font-size: 2.3rem;
    margin: 18px 0px;
}

#include .post_content h4 {
    font-size: 2.0rem;
    margin: 18px 0px;
}

#include .post_content h5 {
    font-size: 1.8rem;
    margin: 16px 0px;
}

#include .post_content h6 {
    font-size: 1.4rem;
    margin: 12px 0px;
}

#include .post_content p {
    font-size: 1.6rem;
    margin: 16px 0px;
}

#include .date_display {
	text-align: right;
    margin: 0px;
}

#include a.share {
	text-decoration: none;
    color: inherit;
    margin: 0px 7px;
}

#include #twitter:hover {
    color: #1da1f2;
}

#include #facebook:hover {
    color: #4267b2;
}

#include #google:hover {
	color: #db4437;
}

#include #email:hover {
    color: #7897ad;
}

input[type='text'], input[type='password'], textarea {
	font-size: 1.8rem;
    font-family: 'PT Sans', sans-serif;
    margin: 5px 5px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid grey;
}

input[type='text'], input[type='password'] {
	width: 183px;
    padding-left: 35px;
}

textarea {
    width: -moz-available;
    width: -webkit-fill-available;
    min-width: 198px;
    height: 100px;
}

input[type='text']:hover, input[type='password']:hover, #include textarea:hover {
    border-color: #9abed9;
}

input[type='text']:focus, input[type='password']:focus, #include textarea:focus {
    border-color: #84a9c4;
}

#include h5.page_content {
	font-size: 1.8rem;
    border-top: 1px dashed #84a9c4;
    margin: 10px 0px 0px 0px;
    padding-top: 5px;
}

i.input {
	position: absolute;
    font-size: 1.8rem;
    transform: translate(13px, 13px);
}

#include .comments .post_description {
	display: flex;
    justify-content: space-between;
}

#include .comments a.report_link {
    position: absolute;
    transform: translate(-47px, -8px);
    font-size: 2rem;
    padding: 3px 7px;
    margin: 0px;
    background-color: #d99a9a;
    text-decoration: none;
    color: white;
}

#include .comments a.report_link:hover {
    background-color: #c48484;
}

#include .comments a.report_link:active {
    background-color: #ad7878;
}

#include .comments p, #include .comments.list_report a {
    display: block;
    margin: 10px;
    padding: 5px;
    border: 1px solid #bababa;
}

@keyframes commentTarget {
    from { background-color: #bababa; }
    to { background-color: transparent; }
}

#include .comments div:target p:not(.report_statut) {
    animation: 0.5s linear 2s backwards commentTarget;
}

#include nav#pages {
    text-align: center;
}

#include #edit_title_container {
	height: 103.5px;
    padding: 1px 0px;
    position: relative;
}

#include h3#title {
	transition: 0.2s;
    outline: none;
    background-color: white;
    border: 1px solid #c5c5c5;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: text;
}

#include h3#title:hover {
    color: black;
    border-color: #7897ad;
}

#include h3#title:focus {
	border: 1px solid #7897ad;
    padding: 0px 10px;
    margin-top: 35px;
    margin-bottom: 34px;
    color: black;
}

#include h3.list_post_title a {
	text-decoration: none;
    color: inherit;
}

#include h3.list_post_title {
    margin: 0px auto;
    color: #9abed9;
}

#include h3.list_post_title em {
    color: black;
    font-weight: 400;
}

#include h3.list_post_title.no_publish a {
    color: #d99a9a;
}

#include h3.list_post_title.no_publish:hover a {
    color: #c48484;
}

#include h3.list_post_title.no_publish:active a {
    color: #ad7878;
}

#include h3.list_post_title.publish:hover a {
    color: #84a9c4;
}

#include h3.list_post_title.publish:active a {
    color: #7897ad;
}

#include .delete_comment {
   background-color: #d99a9a;
}

#include .delete_comment:hover {
   background-color: #c48484;
}

#include .delete_comment:active {
   background-color: #ad7878;
}

#include .comments.list_report a {
    height: 25px;
    font-size: 1.8rem;
    text-decoration: none;
    background: transparent;
    color: black;
}

#include .report_button a {
    padding-left: 11px;
}

#include .comments.list_report a:hover {
    background-color: #bababa;
}

#include .report_button {
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#include .report_button>div {
    display: flex;
    flex-wrap: wrap;
}

#include p.report_statut{
	border: 1px solid #7897ad;
    padding: 7px 15px;
    text-indent: 0px;
    white-space: nowrap;
    height: 21px;
    margin: 5px 0px;
}

#include .mce-container, #include .mce-container *, #include .mce-widget, #include .mce-widget *, #include .mce-reset {
    font-size: 1.6rem;
    white-space: normal;
}

footer {
    background-color: rgba(186, 186, 186, 0.8);
    margin: 40px 0px 0px 0px;
    padding: 20px 50px;
    transition: 0.2s;
}

footer h1 {
    font-size: 2.2rem;
}

footer h2 {
    font-size: 2rem;
}

footer h3 {
    font-size: 1.8rem;
    margin: 0px 10px;
}

footer p {
    font-size: 1.4rem;
    margin: 0px;
}

footer li {
    display: flex;
    align-items: baseline;
}

footer hr {
    color: black;
}

footer ul {
    padding-left: 10px;
}

@media (max-width: 900px) {
    body {
        background-image: url(../images/background-medium.jpg);
    }
    #container {
	    margin-left: 20px;
        margin-right: 20px;
    }
    footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    #head_menu {
        margin-left: 8px;
    }
}

@media (max-width: 750px) {
    header {
        height: 220px;
        margin-bottom: 40px;
    }
    .site_title.header {
	    transform: scale(0.8) rotate(-10deg);
    }
    #container {
	    flex-direction: column-reverse;
    }
    #include {
	    width: auto;
    }
    #head_menu{
        height: auto;
        top: 0px;
        margin-left: 0px;
    }
    #head_menu.connected {
	    height: auto;
    }
    #head_menu .site_title.top_menu {
	    display: none;
    }

    #head_menu li, #head_menu #menu_button{
	    width: auto;
        background-color: rgba(255, 255, 255, 0.6);
    }
    #head_menu #menu_button>ul {
        opacity: 0;
        height: 0px;
        overflow: hidden;
        transition: 0.2s;
        padding: 0px 5px;
    }
    #head_menu #menu_button>ul.active {
        opacity: 1;
        height: auto;
        padding: 5px;
    }
    #head_menu input.connection {
	    width: 100%;
    }
    #head_menu .nav_frame {
	    display: none;
    }
    #head_menu #display_menu {
	    display: block;
    }
}

@media (max-width: 550px) {
    body {
        background-image: url(../images/background-small.jpg);
    }
    header {
        height: 120px;
    }
    .site_title.header {
	    transform: scale(0.55) rotate(-10deg);
    }
    #container {
	    margin-left: 0px;
        margin-right: 0px;
    }
    #editForm #mceu_19, #editForm #mceu_31, #mceu_28, #mceu_29, #mceu_30, #newPostForm #mceu_18, #newPostForm #mceu_27 {
        display: none;
    }
    footer {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 8.5px;
    }
}

@media (max-width: 350px) {
    header {
        height: 80px;
    }
    .site_title.header {
	    transform: scale(0.45) rotate(-10deg);
    }
}
