body {
    font-family: 'PT Serif', serif;
    font-size: 10px;
}

h1 {
    font-size: 2.8em;
    margin: 18px 0px;
}

h2 {
    font-size: 2.5em;
    margin: 18px 0px;
}

h3 {
    font-size: 2.3em;
    margin: 18px 0px;
}

h4 {
    font-size: 2em;
    margin: 18px 0px;
}

h5 {
    font-size: 1.8em;
    margin: 16px 0px;
}

h6 {
    font-size: 1.4em;
    margin: 12px 0px;
}

p {
    font-size: 1.6em;
    margin: 16px 0px;
}

@media (max-width: 343px) {
    body {
        font-size: 8.5px;
    }
}
